<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jobSearch -->
      <package
            uri="http://www.example.org/jobSearch"
            class="org.lpdql.jobSearch.JobSearchPackage"
            genModel="model/jobSearch.genmodel"/>
   </extension>

</plugin>
